.series-film{
    color: #0060B6;
    text-decoration: none;
}

.series-film:hover{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer; 
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

.nav-sm{
    display: flex;
}

#subscribe{
    display: block
}

.unsub{
    display: none;
}

.unsubBtn{
    display: block;
}

.film-view{
    display: block
}
