<div class="mt-4">
    <form method="POST" action="/add/storefilm">
        <div class="form-group">
            <label for="name">Tên Phim</label>
            <input type="text" class="form-control" id="name" name="name">
            <label for="img">Image</label>
            <input type="text" class="form-control" id="img" name="img">
            <label for="videoId">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Lưu Phim</button>
    </form>
</div>