<div class="mt-4">
    <div class="row">
        <div class="col-sm-2">
            Đây là phim theo dõi
        </div>
        <div class="col-sm-2">
            Đây là phim theo dõi
        </div>
        <div class="col-sm-2">
            Đây là phim theo dõi
        </div>
        <div class="col-sm-2">
            Đây là phim theo dõi
        </div>
        <div class="col-sm-2">
            Đây là phim theo dõi
        </div>
        <div class="col-sm-2">
            Đây là phim theo dõi
        </div>
    </div>
</div>