<div class="mt-4">
    <h3 class="col-lg-6 offset-lg-4"> Đấu phá thương khung </h3>
    <div class="row">
        <div class="col-lg-9">
            Màn hình phim
        </div>
        <div class="col-lg-3">
            Tập Phim
        </div>
    </div>
</div>