<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-toggler" style="width: 500px" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="row">
      <li class="nav-item active" class="nav-sm">
        <a class="nav-link" href="/">Trang Chủ</a>
      </li>
      <li class="nav-item" class="nav-sm">
        <a class="nav-link" href="/subscribe">Theo Dõi</a>
      </li>
      <li class="nav-item" class="nav-sm">
        <a class="nav-link" href="/add/addfilm">Thêm Phim</a>
      </li>
    </div>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang Chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscribe">Theo Dõi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add/addfilm">Thêm Phim</a>
      </li>
  </div>
</nav>